#####
# FILES TO IGNORE
#####
*.csv
*.d
*.o
*.com
*.class
*.dll
*.exe
*.so
*.mk
carness.*
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
/Release/
/Debug/
.settings/
.cproject
.project

.DS_Store

.pydevproject

*.prefs
